<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    <div id="page-wrapper">
      {% include header.html class="alt" %}

      <!-- Banner -->
        <section id="banner">
          <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
          -->
          <div class="inner">
            <header>
              <h2>Chinese Student<br />Association</h2>
            </header>
            <p>Northeastern University</p>
            <footer>
              <ul class="buttons vertical">
                <li><a href="mission" class="button fit scrolly">Tell Me More</a></li>
                <li><a href="contact" class="button fit scrolly">Contact Us</a></li>
              </ul>
            </footer>
          </div>
        </section>

      <!-- Main -->
      {% if page.show_body %}
        <article id="main">

          <!-- Three -->
            <section class="wrapper style3 container special">

              <div class="row">
                <div class="12u 12u(narrower)">

                  <section>
                    {{ content }}
                  </section>

                </div>
              </div>

            </section>

        </article>
      {% endif %}

      {% include footer.html %}
    </div>

  </body>

</html>
